{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="crw">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-2">
        <h2 class="text-white text-uppercase">
          CRW is committed to helping our student drivers with continued job placement and finding the best driving job
          to fit their needs.
        </h2>

        <p class="text-white">
          If you are interested in a career as a professional truck driver, or you have trucking industry experience and
          want to improve or refresh your tractor-trailer driving skills, you have come to the right place -- a truck
          driver training school where the emphasis is on you!
        </p>
      </div>

      <div class="col-md-6 p-2">
        <p class="text-white">
          CRW is more than CDL training. CRW is committed to helping our student drivers with continued job placement
          and finding the best driving job to fit their needs. Every student recieves extensive truck driving
          instruction and maximum truck driving time behind the wheel. The truck driver training program delivers fast,
          focused results and high quality truck driving jobs for graduates.

          <br><br>

          CRW Truck Driver Training School offers a five week training program for Mississippi Class A CDL. All drivers
          complete a vigorous 200 hour course curriculum that consist of classroom, yard, and on the road training with
          the best instructors to help each and every student along the way. With over 50 years of combined experience,
          the staff at CRW will have YOU on the road to success!!!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="school">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-2">
        <h2 class="text-grad text-uppercase mb-3">School Philosophy</h2>

        <p class="">
          Through its belief of excellence in education, CRW Truck Driving Training School, LLC creates an environment
          of opportunity and challenge in which each student can reach the highest level of achievement. Through use of
          practical, classroom lectures, and hands-on experience, CRW is developing well-trained drivers qualify for
          positions in the truck driving industry. CRW is devoted to “Helping others secure a better life”.
        </p>
      </div>

      <div class="col-md-6 p-2">
        <p class="">
          CRW Truck Driver Training School, LLC is more than CDL training. CRW is committed to helping our student
          drivers with continued job placement and finding the best driving job to fit their needs. Every student
          receives extensive truck driving instruction and maximum truck driving time behind the wheel. The truck driver
          training program delivers fast, focused results and high quality truck driving jobs for graduates.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="liscence">
  <div class="container">
    <div class="col-md-6">
      <p class="text-white mb-0">Licensed by:</p>
      <h2 class="text-white">Commission on Propriety School and College Registration</h2>

      <p class="text-white">
        3825 Ridgewood Road
        <br>
        Jackson, MS 39211 License Number: C-656
      </p>
    </div>
  </div>
</section>

<section class="quotes">
  <div class="container">
    <p>
      This handbook is current as of the time of printing. CRW Truck Driving Training School reserves the right to make
      changes in the course content, equipment, materials, organization, policy, and curriculum as circumstance dictate.
      Subsequent to publication.
      <br> <br>
      The School expects its students to have knowledge of the information presented in this handbook and in other
      school publications. CRW Truck Driving School is in compliance with the following: Title IV (The Civil Rights
      Act), Title IX (Discrimination on the Basis of Sex), The Equal Credit Opportunity Act (Discrimination in Leading),
      and The Age Discrimination Act.
      <br> <br>
      CRW Truck Driving School is committed to the principle of equal opportunity. It is the policy of the Company not
      to discriminate on the basis of race, sex, color, national origin, religion, or handicap with regard to its
      students, employees or applications for admission of failure of this institution to follow this policy should be
      brought to the attention of the Director of the School.
      <br><br>
      I certify that this handbook is true in content and policy and states progress requirements for graduation.
      <img src="{% static 'img/signature.png' %}" class="img-fluid mt-3" alt="">
    </p>
  </div>
</section>
{% endblock content %}
