<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-2">
        <h3 class="text-white text-uppercase">Subscribe to our newsletter</h3>

        <form action="">
          <input type="email" class="form-control br-0 mb-2 bg-transparent" placeholder="Email" name="" id="">
          <button class="btn btn-dark br-0 text-uppercase">subscribe</button>
        </form>
      </div>

      <div class="col-md-2 p-2">
        <ul class="list-unstyled m-0 p-0">
          <li>
            <a href="" class="text-white text-uppercase">Reserve now</a>
          </li>

          <li class="py-3">
            <a href="" class="text-white text-uppercase">about us</a>
          </li>

          <li>
            <a href="" class="text-white text-uppercase">our products</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 p-2">
        <ul class="list-unstyled m-0 p-0">
          <li>
            <a href="" class="text-white text-uppercase">terms and conditions</a>
          </li>

          <li class="py-3">
            <a href="" class="text-white text-uppercase">privacy policy</a>
          </li>

          <li>
            <a href="" class="text-white text-uppercase">damage costs</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 p-2">
        <ul class="list-unstyled m-0 p-0">
          <li>
            <a href="contact.html" class="text-white text-uppercase">contact us</a>
          </li>

          <li class="py-3">
            <a href="" class="text-white text-uppercase">help & support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
