{% load static %}

<section class="comeVisit">
  <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10 position-relative">
          <div class="line"></div>

          <div class="text-center">
            <h2 class="font-weight-normal text-uppercase text-white mt-3">Come visit us!</h2>
          </div>

          <div class="row mt-5">
            <div class="col-md-4 text-white">
              <div class="text-left">
                <img src="{% static 'img/env.png' %}" class="img-fluid mr-auto" alt="">
              </div>

              <p class="text-white text-left mt-2">
                <a href="mailto:bmaddoxcrwtraining@gmail.com" class="text-white">
                  bmaddoxcrwtraining@gmail.com
                </a>

                <br>

                <a href="mailto:khuntercrwtraining@gmail.com" class="text-white">khuntercrwtraining@gmail.com</a>
              </p>
            </div>

            <div class="col-md-4 text-white">
              <div class="text-left">
                <img src="{% static 'img/map.png' %}" class="img-fluid mr-auto" alt="">
              </div>

              <p class="text-white text-left mt-2">
                1850 South West St. <br>
                Jackson, MS 39201
              </p>
            </div>

            <div class="col-md-4 text-white">
              <div class="text-left">
                <img src="{% static 'img/call.png' %}" class="img-fluid mr-auto" alt="">
              </div>

              <p class="text-white text-left mt-2">
                <a href="mailto:bmaddoxcrwtraining@gmail.com" class="text-white">
                  Tel: 601-968-8023
                  Fax: 601-968-8024
                </a>

                <br>

                <a href="mailto:khuntercrwtraining@gmail.com" class="text-white">khuntercrwtraining@gmail.com</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>
