{% extends 'base.html' %}


{% block content %}
<section class="tables">
  <div class="container-sm">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card card-border px-4 py-4 shadow">
          {% if form.non_field_errors %}
          <div class="alert alert-danger pb-0 my-4" role="alert">
            {% for error in form.non_field_errors %}
            <div class="mb-3">{{ error }}</div>
            {% endfor %}
          </div>
          {% endif %}

          <h2 class="mt-4">Admin Login</h2>

          <form method="POST" class="stDetails pt-4">
            {% csrf_token %}

            <div class="form-group">
              <label for="id_username">Email</label>
              <input type="text" class="form-control br-0" name="username" autofocus="" autocapitalize="none"
                     value="{% if form.username.value %}{{ form.username.value }}{% endif %}" autocomplete="username"
                     maxlength="254" required="" id="id_username" placeholder="Enter Email Address">
            </div>

            <div class="form-group">
              <label for="id_password">Password</label>
              <input type="password" class="form-control br-0" name="password" autocomplete="current-password"
                     required="" id="id_password" placeholder="Enter Password">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-dark br-0 border-0 btn-gredient text-white">Login</button>
            </div>
          </form>
        </div>
</section>
{% endblock content %}
